*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* STRUCTURE */

header{
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.wrapper{
    display: flex;
    margin-top: 70px;
}


aside{
    width: 80px;
    background-color: brown;
    height: calc(100vh - 70px);
}

.top-bar{
    height: 250px;
    background-color: #1b72e8;
}

.main-content{
    height: calc(100vh - 70px);
    width: calc(100vw - 70px);
    overflow-y: auto;
}

/* END STRUCTURE */

/* UTILITIES  */

.height-70{
    height: 70px;
}

.width-70{
    width: 70%;
}

.bg-grey{
    background-color: lightgrey;
}

.color-yellow{
    color: #ff8f00;
}

.bg-color{
    background-color: #165bba;
}

.color-grey{
    color: rgb(73, 68, 68);
}



/* HEADER  */

.logo-mobile-size{
    width: 50px;
}

.btn-header{
    background-color: white;
    border: none;
    
    
}


/* END HEADER  */

/* ASIDE  */

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #051e34;
}

.icon-first,.icon-second{
    padding: 20px;
}

.icon{
    display: flex;
    flex-direction: column;
}

.icon i{
    padding: 10px 0;
    font-size: 20px;
    color: white;
}

.links-aside a{
    padding: 9px 5px;
    text-decoration: none;
    color: white;
}

/* END ASIDE  */

/* TOP BAR */

.btn-offcanvas{
    background-color: #1b72e8;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;

}

/* MAIN  */

.card-image img{
    width: 100%;
}

/* MEDIA QUERY */

@media screen and (min-width:768px) {

    .top-bar{
        height: 200px;

    }

    .main-content{
        height: calc(100vh - 70px);
        width: calc(100vw - 140px);
       
    }
    
    aside{
        width: 200px;
    }


    
}